body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  background-image: url('C:\Users\91952\Downloads\bg1.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.custom-bg {
  background-color: #ffffff;
}

.text-color {
  color: #033301;
}

.border-color {
  border-color: #f5e4cf;
}

.custom-bg-text {
  color: #FDF1E7;
}

.bg-color {
  background-color: #1891d2;
}

.rounded-card {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form-card {
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
}


.card {
  transition: transform 0.2s ease;
}

.card:hover .product-card {
  transform: scale(1.02);
}